<ng-container *ngIf="contactLisStatet$ | async as state" [ngSwitch]="state.appState">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="">KN Challenge</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <form #searchForm="ngForm" (ngSubmit)="goToPage(searchForm.value.name)" class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="text"
            name="name"
            ngModel
            placeholder="Search User"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-3">
        <ng-container *ngSwitchCase="'APP_ERROR'" ><span style="color:red; "> There was an error trying to fetch contact list</span> </ng-container>
        <ng-container *ngSwitchCase="'APP_LOADING'" >
          <div class="d-flex justify-content-center mt-4">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </ng-container>
        <h3>Contact List</h3>
        <ng-container *ngSwitchCase="'NOT_FOUND'" >
          <div class="alert alert-secondary" role="alert"> No Contact Found </div>
        </ng-container>
        <ng-container *ngSwitchCase="'APP_LOADED'" >
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Photo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contact of state.appData.content; let i = index;">
                <td>{{ contact.name }}</td>
                <td><img [src]="sanitizeImageUrl(contact.imgUrl)" width="30" height="40"></td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="state.appData.content.length < 1" class="alert alert-secondary" role="alert">
            No Users Found
          </div>
          <nav *ngIf="state.appData.content.length > 0" aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item"  [ngClass]="0 ==(currentPage$ | async) ? 'disabled' : '' ">
                <a (click)="goToNextOrPrevious('backward', searchForm.value.name)" class="page-link">Previous</a>
              </li>
              <li *ngFor="let pageNumber of [].constructor(limitTotalPages(state.appData.totalPages)); let i = index"
                class="page-item" [ngClass]=" i == (currentPage$ | async) ? 'active' : '' ">
                <a (click)="goToPage(searchForm.value.name, i)" class="page-link">{{ i + 1 }}</a>
              </li>
              <li class="page-item" [ngClass]="(state.appData.totalPages -1) ==(currentPage$ | async) ? 'disabled' : '' ">
                <a (click)="goToNextOrPrevious('foward', searchForm.value.name)" class="page-link">Next</a></li>
            </ul>
          </nav>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
<router-outlet></router-outlet>
